header {
  width: 90%;
  color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2.2rem;
  margin: 1rem auto;
  border-radius: 2rem;

}
header .logo {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  color: #f3914a;
}
header .menu {
  display: none;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  margin: 0 1rem;
  color: #f6f6f6;
}
.icon-container div {
  margin: 0 1rem;
  display: inline;
}
a{
  color: #f3914a;
}
.badge-content{
  position: relative;
}
.badge-content span{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2.6rem;
  left: 1.6rem;
  width: 2rem;
  height: 2rem;
  background-color: #f6f6f6;
  color: #f3914a;
  border-radius: 50%;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
}
